<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--th:text 將 div 裡面的文本內容設置為-->
    <!--th:後面可以接任意 html 屬性 用模板引擎的置換取代-->
    <!--@官方文檔 10.Attribute Precedence -->
    <div th:class="${hello}" th:text="${hello}" th:id="${hello}">顯示歡迎信息</div>
    <div th:text="${hello}"></div>

    <!--th:utext 會轉譯 h5 內容-->
    <div th:utext="${hello}"></div>

    <!--每次遍歷都會生成-->
    <h4 th:text="${user}" th:each="user:${users}">王武</h4>
    <hr/>

</body>
</html>