<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .active{
            color: #ff9520
        }
    </style>
    <!-- <link href="https://cdn.bootcss.com/skeleton/2.0.4/skeleton.css" rel="stylesheet"> -->
</head>
<body>
    <!--vue 對象的 Html 模板-->
    <div id="app">
        <!--雙向數據綁定 通過 v-model -->
        <input type="text" v-model="num">
        <!--v-on 裡面跟事件連接 事件內可以接 js 表達式  v-on 可以用 @click 符號代替 -->
        <input type="button" value="點我呀" v-on:click="increment">
        <h1>大家好我是{{name}},有{{sum()}}位妹子迷戀我</h1>

        <!--花括號內可以是一個 js 表達式-->
        <h1>1+4={{1+4}}</h1>

        <!--花括號 在低網速沒數值的時候會被秀出來 ，解決之道改用 v-text 和 v-html (強烈建議使用)-->
        <h1>大家好我是<span v-text="name"></span> ,有{{sum()}}位妹子迷戀我</h1>
        <!-- v-html 演示 -->
        <h1>大家好我是<span v-html="prod_html"></span> ,有{{sum()}}位妹子迷戀我</h1>

        <!-- v-model 可以使用的元件有： input select textarea checkbox radio components(vue 的自定義組件)-->
        <!--多個 checkbox 對應一個model 時候， model 的類型是一個數組，單個 checkbox 是 bool 類型-->
        <input type="checkbox" value="ios" v-model="language">ios
        <input type="checkbox" value="java" v-model="language">java
        <input type="checkbox" value="php" v-model="language">php
        <h1>
            你选择了：{{language.join(',')}}
        </h1>

        <!--演示綁定右鍵點擊事件  increment($event) 傳入 event 之後 event.preventDefault 可以禁用默認右鍵菜單 -->
        <!--.stop 阻止事件冒泡到父元素-->
        <!--.prevent 阻止默認事件發生-->
        <!--.capture 事件捕獲模式-->
        <!--.self 只有元素自身觸發才執行(冒泡或捕獲的都不執行)-->
        <!--.once 只執行一次-->
        <input class="button" type="button" value="點我呀" @click="increment" @contextMenu.prevent="increment">

        <br>
        <!--按鍵輸入事件  13 = enter v-model="num"-->
        <!--.enter-->
        <!--.tab .esc-->
        <!--.delete (捕獲 delete 和 backspace)-->
        <!--.space-->
        <!--.up .down .left .right-->
        <!--Alt + c => @keyup.alt.67-->
        <!--Ctrl + Click => @click.ctrl-->
        <input type="email"  @keyup.enter="submit" v-model="email">

        <hr>
        <ul>
            <li v-for="(user,index) in users">{{index+1}}.{{user.name}}-{{user.gender}}-{{user.age}} </li>
        </ul>
        <hr>
        <!--v-for 可以遍歷拆解 object-->
        <ul>
            <li v-for="(value,key,index) in user" :key="index">{{index}}.{{key}}-{{value}}</li>
        </ul>

        <hr>
        <!--v-if 如果為 false 完全不渲染-->
        <input type="button" value="SHOW" @click="show=!show">
        <h2><span v-if="show" >Now You See Me : Show is {{show}}</span></h2>
        <!--v-show 如果為 false 渲染但隱藏 設置display:none-->
        <h2><span v-show="show" >Now You Show Me : Show is {{show}} watch the element</span></h2>

        <!--v-if else-if 演示  span 全部都要接在一起 v-else-if 才會起作用　-->
        <input type="button" value="點我生成隨機數" @click="random=Math.random()">{{random}}
        <h2><span v-if="random>0.75" >你看到我說明我是大於 0.75 </span>
        <span v-else-if="random>0.5" >你看到我說明我是大於 0.5</span>
        <span v-else-if="random>0.25" >你看到我說明我是大於 0.25</span>
        <span v-else>你看到我說明我是大於 0</span>
        </h2>
        <hr>
        <ul>
            <!--v-if v-for 結合判斷-->
            <li v-if="user.gender=='男'" v-for="(user,index) in users">{{index+1}}.{{user.name}}-{{user.gender}}-{{user.age}} </li>
        </ul>
        <hr/>
        <!--v-bind 用法 綁定 data.someValue -->
        <input type="button" v-bind:value="someValue"><br>

        <!--text 綁定 store ，改變數量後，按鈕樣式顯示綁定 store 判斷是否大於0-->
        <input type="text" v-model="store"><br>
        <input type="button" v-bind:class="{active:store>0}" v-bind:value="{store}"><br>
        <!-- 簡寫 v-bind: 可省略成 : -->
        <hr>
        <div class="container">我的生日： {{toBirthday()}}</div>
        <div class="container">計算屬性生日： {{get_birthday}}</div>
        <hr>
        <!-- watch 監控 -->
        <input type="text" v-model="search"><br>
    </div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    // 初始化一個Vue實例
    const app = new Vue({
        el:"#app", // element 的縮寫 ，選擇器 作用域宣告
        data:{  // 數據模型
            name:"kang",
            num : 100,
            prod_html : "<span style='color: darkred'>Kang</span>", // 給 v-html 套用的
            language : ['java'],  // 給 v-model 多選
            users:[               // 給 v-for 遍歷
                {name:'柳炎',gender:'女', age:21},
                {name:'風歌',gender:'男', age:22},
                {name:'范冰冰',gender:'女', age:23},
                {name:'劉亦菲',gender:'女', age:24},
                {name:'柳炎',gender:'女', age:25}
            ],
            user : {name:'柳炎',gender:'女', age:21},
            email : "kang@email.com",
            show : true,
            random :0,
            someValue:"kang",
            store : 0,
            birthday : 1529032123201, // 毫秒值
            search : ""
        },
        methods:{  // 定義方法
            increment(){
                //console.log(this);
                // eve.preventDefault(); // 鎖死右鍵彈窗
                this.num++
            },
            sum(){   // 給花括號用的表達式
                return this.num
            },
            submit(){
                console.log("已經提交 : " + this.email)
            },
            toBirthday(){
                const bdate = new Date(this.birthday)
                return bdate.getFullYear()+"年"+ bdate.getMonth()+"月" + bdate.getDay()+"日"
            },
            
        },
        created(){  // created 鉤子函數 在加載模板，選染之前調用
            // ajax 請求 success 之後
            this.num = 10000;
            //console.log(this)
        },

        // 計算方法，可以定義方法，但是方法必須要有返回值，可以像數據模型一樣使用
        // 計算屬性依賴發生改變才會重新計算，效率較好
        computed:{
            get_birthday(){
                const bdate = new Date(this.birthday)
                return bdate.getFullYear()+"年"+ bdate.getMonth()+"月" + bdate.getDay()+"日"
            }
        },

        // 監聽，方法名稱要跟監聽的對象名稱一樣
        watch:{
            search(NewVal,OldVal){  // val1 原本的值 val2 舊值
                console.log(NewVal)
                //發送異步請求
                
            }
        }
    })
</script>
</body>
</html>